@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.5rem;
  --background: oklch(1 0 180);
  --foreground: oklch(0.126 0.026 268.939);
  --muted: oklch(0.885 0.01 276.021);
  --muted-foreground: oklch(0.464 0.025 275.387);
  --popover: oklch(0.992 0 161.565);
  --popover-foreground: oklch(0.114 0.022 268.251);
  --card: oklch(0.992 0 161.565);
  --card-foreground: oklch(0.114 0.022 268.251);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --primary: oklch(0.567 0.237 267.896);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.915 0.011 276);
  --secondary-foreground: oklch(0.388 0.043 274.435);
  --accent: oklch(0.866 0.024 275.781);
  --accent-foreground: oklch(0.335 0.052 273.604);
  --destructive: oklch(0.63 0.256 29.629);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.567 0.237 267.896);
  --chart-1: oklch(0.567 0.237 267.896);
  --chart-2: oklch(0.915 0.011 276);
  --chart-3: oklch(0.866 0.024 275.781);
  --chart-4: oklch(0.94 0.008 276.055);
  --chart-5: oklch(0.565 0.244 267.612);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

.dark {
  --radius: 0.5rem;
  --background: oklch(0.134 0.016 272.261);
  --foreground: oklch(0.991 0.001 276.148);
  --muted: oklch(0.249 0.013 275.396);
  --muted-foreground: oklch(0.691 0.023 275.711);
  --popover: oklch(0.144 0.019 273.129);
  --popover-foreground: oklch(1 0 180);
  --card: oklch(0.144 0.019 273.129);
  --card-foreground: oklch(1 0 180);
  --border: oklch(0.278 0.03 256.848);
  --input: oklch(0.278 0.03 256.848);
  --primary: oklch(0.567 0.237 267.896);
  --primary-foreground: oklch(1 0 180);
  --secondary: oklch(0.186 0.01 275.429);
  --secondary-foreground: oklch(0.728 0.027 275.646);
  --accent: oklch(0.269 0.031 274.373);
  --accent-foreground: oklch(0.798 0.032 275.616);
  --destructive: oklch(0.62 0.232 29.041);
  --destructive-foreground: oklch(1 0 180);
  --ring: oklch(0.567 0.237 267.896);
  --chart-1: oklch(0.567 0.237 267.896);
  --chart-2: oklch(0.186 0.01 275.429);
  --chart-3: oklch(0.269 0.031 274.373);
  --chart-4: oklch(0.217 0.013 275.322);
  --chart-5: oklch(0.565 0.244 267.612);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}